<h1>Equipment List</h1>

<%= simple_form_for :search, url: equipment_index_path, method: :get do |f| %>
  <%= f.input :query, label: false, placeholder: 'Search for ...' %>
  <%= f.input :category, collection: Equipment::CATEGORY, label: false, placeholder: 'Search by Category' %>
  <button type="submit"><%= icon('fas','search') %> Search</button>
<% end %>

<ul>

  <% @equipment.each do |equipment| %>
    <% if equipment.active %>
      <li>
        <%= link_to equipment.ad_name, equipment_path(equipment) %> - <%= equipment.category %>
      </li>
    <% end %>
  <% end %>

</ul>

<%= link_to 'Back to list', equipment_index_path %>
<br>
<%= link_to "Add Equipment", new_equipment_path %>
