<div><h1>Offers List</h1>

<%= simple_form_for :search, url: equipment_index_path, method: :get do |f| %>
  <%= f.input :query,
              label: false,
              placeholder: 'Search for ...' %>
  <%= f.input :category,
              collection: Equipment::CATEGORY,
              label: false,
              prompt: 'Search by Category' %>
  <button type="submit" class='btn btn-primary'><%= icon('fas','search') %> Search</button>
<% end %>
</div>

<h2>Musical Equipment Available</h2>

  <% @equipments.each do |equipment| %>
    <% if equipment.active && equipment.user != current_user %>
  <div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-primary"> <%= equipment.ad_name %> </h5>
      <p class="card-text"> <%= equipment.category %> </p>
      <button class="btn btn-primary"><%= link_to "Reserve", equipment_path(equipment) %></button>
    </div>
  </div>
    <% end %>
  <% end %>




<%= link_to 'Back to list', equipment_index_path unless params[:search] == nil %>
<br>
<%= link_to "Add Equipment", new_equipment_path %>
