<div class="d-flex justify-content-center align-items-center">
  <div class="col-4 home-body" id="short">
    <h1 class="banner">Offers list</h1>
  </div>

  <div class="col-4" id="padding-left">
    <%= simple_form_for :search, url: equipment_index_path, method: :get do |f| %>
      <div class="form-inputs">
        <%= f.input :query,
                label: false,
                placeholder: 'Search for ...' %>
        <%= f.input :category,
                collection: Equipment::CATEGORY,
                label: false,
                prompt: 'Search by Category' %>
      </div>
      <div class="form-actions">
        <button type="submit" class='btn btn-outline-light btn-md'><%= icon('fas','search') %> Search</button>
      </div>
    <% end %>
  </div>
</div>

<div class="light-body">
  <div class="container" id="add-padding">
    <div class="cards">
      <% @equipments.each do |equipment| %>
        <% if equipment.active && equipment.user != current_user %>
          <%= link_to equipment_path(equipment) do %>
            <div class="card-trip card-category">
              <% unless equipment.photos.attached? %>
                <%= cl_image_tag('nd6mdgkmkyp5fok5ig9n.png', crop: :fill) %>
              <% else %>
                <%= cl_image_tag(equipment.photos.first, crop: :fill) %>
              <% end %>
              <div class="card-trip-infos">
                <div>
                  <h2 id="black"><%= equipment.ad_name %></h2>
                  <p id="black"><%= equipment.category.capitalize %></p>
                </div>
                <h2 class="card-trip-pricing" id="black"><%= ActiveSupport::NumberHelper.number_to_currency(equipment.price, locale: :ja) %> / day</h2>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
