<div class="container">
  <div class="flick-title banner">
    <div class="row">
      <div class="col-10 offset-1 col-lg-8 offset-lg-2 my-3">
        <h2 class='m-5'><%= current_user.name.capitalize %>'s Equipment</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1 col-lg-8 offset-lg-2 my-3">
        <%= simple_form_for @equipment, remote: true, wrapper: :input_group do |f| %>
          <%= f.input :category,
                collection: Equipment::CATEGORY,
                label: false,
                prepend: 'Category',
                wrapper_html: {class: 'my-1'} %>
          <%= f.input :ad_name,
                label: false,
                prepend: 'Name',
                wrapper_html: {class: 'my-1'} %>
          <%= f.input :description,
                label: false,
                prepend: 'Description',
                wrapper_html: {class: 'my-1'} %>
          <%= f.input :price,
                label: false,
                prepend: 'Rent price',
                append: '¥ / day',
                wrapper_html: {class: 'my-1'} %>
          <%= f.input :photos,
                as: :file,
                label: false,
                input_html: { multiple: true } %>
          <%= f.input :active,
                wrapper: :custom_boolean_switch,
                label: 'Check to Start Renting Now' %>
          <%= f.submit 'Add', class: 'btn btn-outline-light btn-md' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row pt-3">
    <% @equipments.select { |equipment| equipment.user == current_user }.each do |equipment| %>
      <div class="col-12">
        <div class="card-product" id='equipment-<%= equipment.id %>' data-controller="counter" data-counter-id=<%= equipment.id %>>
          <% unless equipment.photos.attached? %>
            <%= cl_image_tag('nd6mdgkmkyp5fok5ig9n.png', crop: :fill) %>
          <% else %>
            <%= cl_image_tag(equipment.photos.first.key, crop: :fill) %>
          <% end %>
          <div class="row">
            <div class="col-12">
              <%= link_to equipment_path(equipment), class: 'no-decoration' do %>
                <div class="card-product-infos">
                  <h2><%= equipment.ad_name %> </h2>
                  <p><%= equipment.category.capitalize %> from <%= equipment.user.name.capitalize %></p>
                  <p><%= ActiveSupport::NumberHelper.number_to_currency(equipment.price.round, locale: :ja) %>/day</p>
                </div>
              <% end %>
              <div class="m-3">
                <%= simple_form_for equipment, remote: true, method: 'patch' do |f| %>
                  <% if equipment.active? %>
                    <button <%= 'disabled' if equipment.status_check? %> type="submit" class='btn btn-outline-danger btn-md mx-3 my-1' value='<%= false %>' name='active'>Deactivate</button>
                  <% else %>
                    <button type="submit" class='btn btn-outline-success btn-md mx-3 my-1' value='<%= true %>' name='active'>Activate</button>
                  <% end %>
                <% end %>
              </div>
              <div class="m-1 ml-4">
                <button type="button" class="btn btn-success" disabled>Comfirmed
                  <span class="badge badge-light" data-counter-target="countConfirmed">0</span>
                </button>
                <button type="button" class="btn btn-warning" disabled>Pending
                  <span class="badge badge-light" data-counter-target="countPending">0</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
