<h1><%= current_user.name %>'s Equipment List</h1>
<div class="row my-3">
  <div class="col-10 mx-auto">
    <%= simple_form_for @equipment, wrapper: :input_group do |f| %>
      <%= f.input :category,
              collection: Equipment::CATEGORY,
              label: false,
              prepend: 'Category' %>
      <%= f.input :ad_name,
              label: false,
              prepend: 'Name'%>
      <%= f.input :description,
              label: false,
              prepend: 'Description' %>
      <%= f.input :price,
              label: false,
              prepend: 'Rent price',
              append: '¥ / day' %>
      <%= f.input :photo,
              as: :file,
              label: false,
              input_html: { multiple: true } %>
      <%= f.input :active,
              wrapper: :custom_boolean_switch,
              label: 'Check to Start Renting Now' %>
      <%= f.submit 'Add', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  <% @equipments.each do |equipment| %>
    <div class="col-4">
      <div class="card my-3">
        <div class="card-trip">
          <%= cl_image_tag('photo-1546872006-43d8f499a0e1_rewiff.jpg', crop: :fill) %>
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to equipment.ad_name, equipment_path(equipment), class: "stretched-link" %></h2>
              <h2><%= equipment.category %></h2>
              <h2 class="card-trip-pricing"><%= ActiveSupport::NumberHelper.number_to_currency(equipment.price, locale: :ja) %> / day</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
