<div class="d-flex justify-content-center align-items-center" id="add-padding">
  <div class="col-4 home-body">
    <h1 class="banner" style="font-size: 54px;"><%= current_user.name.capitalize %>'s Equipment List</h1>
  </div>
  <div class="col-6" id="padding-left">
    <div class="col-10 mx-auto">
      <%= simple_form_for @equipment, wrapper: :input_group do |f| %>
        <%= f.input :category,
                collection: Equipment::CATEGORY,
                label: false,
                prepend: 'Category' %>
        <%= f.input :ad_name,
                label: false,
                prepend: 'Name'%>
        <%= f.input :description,
                label: false,
                prepend: 'Description' %>
        <%= f.input :price,
                label: false,
                prepend: 'Rent price',
                append: '¥ / day' %>
        <%= f.input :photo,
                as: :file,
                label: false,
                input_html: { multiple: true } %>
        <%= f.input :active,
                wrapper: :custom_boolean_switch,
                label: 'Check to Start Renting Now' %>
        <%= f.submit 'Add', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

<hr>

<div class="light-body">
  <div class="container" id="add-padding">
    <div class="card-trip-infos">
      <% @equipments.select { |equipment| equipment.user == current_user }.each do |equipment| %>
        <div class="card-product">
          <% unless equipment.photos.attached? %>
            <%= cl_image_tag('nd6mdgkmkyp5fok5ig9n.png', crop: :fill) %>
          <% else %>
            <%= cl_image_tag(equipment.photos.first, crop: :fill) %>
          <% end %>
          <div class="card-product-infos">
            <h2><%= link_to equipment.ad_name, "equipment/#{equipment.id}", class: "link" %> </h2>
            <p><%= equipment.category.capitalize %> from <%= equipment.user.name.capitalize %></p>
            <p><%= ActiveSupport::NumberHelper.number_to_currency(equipment.price.round, locale: :ja) %>/day</p>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to 'Back to list', equipment_index_path, class: "link", id: "small" %>
  </div>
</div>
