<h1><%= @equipment.category %></h1>
<ul>
    <li><%= @equipment.description %></li>
    <li><%= @equipment.price %></li>
    <ul><% @equipment.bookings.each do |booking| %>
      <li><%= booking %> </li>
      <% end %>
    </ul>
</ul>

<%= link_to 'Make a booking', new_equipment_booking_path(@equipment) %>

<%= link_to 'Back to list', equipment_index_path %>
