<div class="container py-5">
  <div class="row">
    <% if @equipment.active && @equipment.user != current_user %>
      <div class="col-md justify-content-center">
      <% else %>
        <div class="justify-content-center">
        <% end %>
        <h2><%= @equipment.ad_name %> details</h2>

        <div class="card-equipment">
          <% unless @equipment.photos.attached? %>
            <%= cl_image_tag('nd6mdgkmkyp5fok5ig9n.png', crop: :fill) %>
          <% else %>
            <%= cl_image_tag(@equipment.photos.first.key, crop: :fill) %>
          <% end %>
          <p><%= @equipment.description %></p>
          <p><%= ActiveSupport::NumberHelper.number_to_currency(@equipment.price, locale: :ja) %> / day</p>
          <p>Rented by: <%= @equipment.user.name %></p>
          <p>Location: <%= @equipment.user.address %> </p>
          <div id="map"
               style="width: 100%; height: 600px;"
               data-markers="<%= @marker.to_json %>"
               data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>
      </div>

      <% if @equipment.active && @equipment.user != current_user %>
        <div class="col-sm-4">
          <h2>Rental Period</h2>
          <%= simple_form_for [@equipment, @booking] do |f|  %>
            <%= f.input :start_date,
                        as: :date,
                        label: 'From',
                        html5: true%>
            <%= f.input :end_date,
                        as: :date,
                        label: 'To (include)',
                        html5: true %>
            <%= f.submit "Confirm booking", class: "btn btn-outline-light btn-md my-3" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
