<div class="container">
  <div class="flick-title banner">
    <div class="row">
      <div class="col-10 offset-1 col-lg-8 offset-lg-2 my-3">
        <h2 class='m-5'>Bookings</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <% @bookings.select { |booking| booking.user == current_user }.sort_by{ |booking| booking.start_date }.each do |booking| %>
      <div class="col-12">
        <div class="card-product">
          <% unless booking.equipment.photos.attached? %>
            <%= cl_image_tag('nd6mdgkmkyp5fok5ig9n.png', crop: :fill) %>
          <% else %>
            <%= cl_image_tag(booking.equipment.photos.first.key, crop: :fill) %>
          <% end %>
          <div class="card-product-infos">
            <%= link_to equipment_path(booking.equipment), class: 'no-decoration' do %>
              <h2><%= booking.equipment.ad_name %></h2>
              <p><%= booking.equipment.category.capitalize %> from <%= booking.equipment.user.name.capitalize %></p>
              <p><%= l(booking.start_date.to_date, format: :long) %> to <%= l(booking.end_date.to_date, format: :long) %></p>
              <p><%= ActiveSupport::NumberHelper.number_to_currency((booking.equipment.price * (booking.end_date.to_date - booking.start_date.to_date + 1)).round, locale: :ja) %></p>
            <% end %>
            <div class="row mt-3">
              <h2 class='mx-3'><%= booking.status.capitalize %></h2>
              <% if booking.status == "returned" %>
                <%= link_to 'Review', new_equipment_review_path(booking.equipment), class: 'btn btn-outline-warning btn-md mx-3' %>
              <% elsif booking.start_date > Time.now %>
                <%= simple_form_for booking, method: 'patch' do |f| %>
                  <button type="submit" class='btn btn-outline-warning btn-md mx-3' value='cancelled' name='status'>Cancel</button>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
