<h1>Booking ID: <%= @booking.id %></h1>
<ul>
  <li>Equipment booked: <%= @booking.equipment.category %></li>
  <li>Status: <%= @booking.status %></li>
  <li>Start date: <%= l(@booking.start_date.to_date, format: :long) %> </li>
  <li>End date: <%= l(@booking.end_date.to_date, format: :long) %> </li>
</ul>
<br>
<%= link_to 'Back to list', equipment_index_path %>
<br>
