<h1>Booking ID: <%= @booking.id %></h1>
<ul>
  <li>Equipment booked: <%= @equipment.category %></li>
  <li>Status: <%= @booking.status %></li>
  <li>Start date: <%= @booking.start_date %> </li>
  <li>End date: <%= @booking.end_date %> </li>
</ul>
